.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/struc.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 35vh, 0vh 75%);
        height: 55vh;
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 75%);
        clip-path: polygon(0 0, 100% 0, 100% 35vh, 0 75%);
    }


    
    &__text-box {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}